footer{
    display:flex;
    width: 100vw;
    height: 10vh;
    background-color: blue;
    flex: 1 1;
    align-items: center;
    justify-content: center;
}
footer p{
    color:white;
}